body{
	margin:2em;
    font-family: 'Roboto Slab', serif;
    text-align:center;
    color:#2F2F2F;
}

header h1{
	font-family: 'Amatic SC', cursive;
	font-size:5em;
	margin:0;
	padding:0;
}
header h1 a{
	text-decoration:none;
	color:#000;
}
header h1 a:hover,
header h1 a:active{
	text-decoration:underline;
}
header, header p{
	margin:0;
	padding:0;
}
main{
	text-align:left;
	margin:2em auto;
}
ul.sections{
	width:100%;
	margin:0;
	padding:0;
	list-style-type: none;
}

ul.sections li{
	display: inline-block;
	margin-right:1em;
	padding:2em;
}
body#entry main{
	padding:1em;
	overflow:auto;
}
body#entry main h1{
	border-bottom:1px solid black;
}
body#entry img{
	margin:0 1em 0 0;
	max-width:100%;
}

/*only want two columns when there's enough room*/
@media(min-width: 48rem) {
	main{
	width:60%;
	}
	.grid-container {
	  display: grid;
	  grid-template-columns: 0.5fr 0.5fr;
	  grid-template-rows: 1fr;
	  grid-template-areas:
	    "promo-image full-details";
	  gap: 0em 1em;
	}

	.promo-image { 
		grid-area: promo-image; 
	}
	.full-details { 
		grid-area: full-details; 
	}
}

body#entry main h1 span{
	font-size:75%;
}
body#entry main h1 a:visited,
body#entry main h1 a:hover,
body#entry main h1 a:link,
body#entry main h1 a:active{
	text-decoration:none;
	color:#999;
}

body#entry main h1 a:hover,
body#entry main h1 a:active{
	text-decoration:underline;
	color:#999;
}

main p{
	line-height: 1.4em;
}