<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <title>Less Mess: {{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@0/dist/algoliasearchNetlify.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@0/dist/algoliasearchNetlify.js"></script>
	<script type="text/javascript">
	  algoliasearchNetlify({
	    appId: 'MVNHQ5SJ1D',
	    apiKey: '918629049ad9c3bf4eac08d27fbf90c8',
	    siteId: '981816bb-5e38-48ae-93d1-43b159208251',
	    branch: 'master',
	    autocomplete: {
	      inputSelector: 'input[type=search]',
	    },
	  });
	</script>
  </head>