<header>
	<h1><a href="/">Less Mess</a></h1>
  	<p>Zero Waste alternatives for things you buy every day</p>
</header>
<nav>
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/submit">Submit a product</a></li>
	</ul>
</nav>