<header class="nav">
	
  	<p>In this guide</p>
  	<nav>
		<ul>
			<li class="deliveryteams"><a href="/deliveryteams">Delivery teams</a>
			<li class="corecompetencies"><a href="/corecompetencies">Core competencies</a></li>
			<li>
				<ul>
					<li class="pm"><a href="/productmanager">Product mananger</a>
						<ul>
							<li><a href="/productmanager#associate">Associate product manager (CS-02)</a></li>
							<li><a href="/productmanager#pm">Product manager (CS-03)</a></li>
							<li><a href="/productmanager#senior">Senior Product Manager (CS-04)</a></li>
							<li><a href="/productmanager#principle">Principle Product Manager (CS-05)</a></li>
							<li><a href="/productmanager#head">Head of Product Management (CS-06)</a></li>
						</ul>
					</li>
					<li class="dm"><a href="/deliverymanager">Delivery manager</a></li>
					<li class="policy"><a href="/policy">Policy</a></li>
					<li class="dev"><a href="/developer">Developer</a></li>
					<li class="des"><a href="/designer">Designer</a></li>
					<li class="ux"><a href="/uxresearcher">UX Researcher</a></li>
				</ul>
			</li>
			<li class="intern"><a href="/internships">Internship program</a></li>
		</ul>
	</nav>
</header>
