<header>
	<h1><a href="/">Canada Digital Services</a></h1>
  	<p>In this guide</p>
  	<nav>
		<ul>
			<li class="deliveryteams"><a href="">Delivery teams</a>
			<li class="corecompetencies"><a href="/about">Core competencies</a></li>
			<li>Roles
				<ul>
					<li class="pm">Product mananger
						<ul>
							<li>Associate product manager</li>
							<li>Product manager</li>
							<li>Senior Product Manager</li>
							<li>Principle Product Manager</li>
							<li>Head of Product Management</li>
						</ul>
					</li>
					<li class="dm">Delivery manager</li>
					<li class="policy">Policy</li>
					<li class="dev">Developer</li>
					<li class="des">Designer</li>
					<li class="ux">UX Researcher</li>
				</ul>
			</li>
			<li class="intern">Internship program</li>
		</ul>
	</nav>
</header>
