---
title: Basic template
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
  	<header>
  	<h1>Less Mess</h1>
  	<p>Zero Waste alternatives for things you buy every day</p>
    {{ content | safe }}
  </body>
</html>