---
title: Basic template
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dosis:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
  	<header>
  	<h1>Less Mess</h1>
  	<p>Zero Waste alternatives for things you buy every day</p>
    </header>
    {{ content | safe }}
  </body>
</html>