{%- include "header.njk" %}
  <body>
  	<header>
  	<h1><a href="/">Less Mess</a></h1>
  	<p>Zero Waste alternatives for things you buy every day</p>
    </header>
    <main>
    {{ content | safe }}
    </main>
{%- include "footer.njk" %}